select{
    min-width:70px;
}

.maincolumn{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 25px;
}
/*SEARCH FORM*/
.filter-form {
    border-radius: 30px 0px 0px 30px;
    /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
}
 .filter-btn {
    border-radius: 0px 30px 30px 0px !important;
    cursor:pointer;
}
 .filter-btn{
     border-radius: 30px 30px 30px 30px !important;
     cursor:pointer;
     margin-left:15px !important;
 }
 .actionBox{
  display:inline-block;
  padding: 5px;
  background-color: #cc6632;
  color:#ffffff;
  margin: 1px;
  border-radius: 5px;
}

#bubble-bar {
  position: absolute;
  top: 2180px;
  left: 25px;
  right:25px;
}
#bubble-bar {
  z-index: 80;
}