/* Primary Button - S&S Green*/
* {
 font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #ef6c00 ;
    text-transform: uppercase;
}
a{
    color: #0b8040;
}
#dashboard-list a{
    /*text-transform: uppercase;*/
}

.btn-primary {
  color: #fff;
  background-color: #146734;
  border-color: #0a6735;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #187b3e;
  border-color: #0a7f37;
}
.btn-primary:hover {
  color: #fff;
  background-color: #187B3E;
  border-color: #0b8040;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #187b3e;
  border-color: #0b8040;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #0b8040;
  border-color: #0a7f37;
}
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #146734;
  border-color: #0a6735;
}
.btn-primary .badge {
  color: #146734;
  background-color: #fff;
}