<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Error</title>
</head>
<body>
    <div class="container-fluid">


        <div class="text-center">
            <div class="container-fluid" style="padding-top:2em;  ">

                <div class="row" style="padding:2em;">

                    <!--Neighborhood image/name-->
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 style="font-size: 120px">
                                <span>404</span>
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 style="font-size: 35px">
                                <span>Uh oh....that's our bad. Just go back to our home page and forget this ever happened.</span>
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 style="font-size: 10px">
                                <a href="/">
                                    <img src="/images/ss-logo-round.png" style="height:auto; width:auto;" alt="">
                                </a>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
         </div>
     </div>
</body>
</html>