<div class="container">
    <!-- About Us Header Title -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About Us
            </h1>
    <h4>What We Do</h4>       
    <h6>
    Savour & Sip empowers and informs socially and environmentally conscious
    consumers to choose local restaurants and support healthy neighborhoods.
    This app provides a way to highlight local businesses and give the user
    a customized experience. The user can utilize filters such as, locally
    owned, woman/POC owned, low environmental impact, locally sourced, vegan
    friendly, disability friendly, to specialize their dining experience.
    </h6>

    <h4>The Issue</h4>

    <h6>In Seattle, long term residents and business owners are being pushed out
    of their neighborhoods and local businesses are shutting down due to
    increased rents and high costs of living. While many individuals want to
    help slow these effects of gentrification, there lacks a concise resource
    for information on which restaurants are locally owned, environmentally
    conscious, woman or people of color owned, and source local foods. This
    is why we created Savour & Sip: to give individuals the resources they
    need to support locally owned restaurants, cafes, and bars. Savour & Sip
    is a restaurant app that connects locally owned businesses with individuals
    who wish to empower their neighbors to keep the 'original flavor' of
    their communities alive.
    </h6>
        </div>
    </div>
    <!-- SVC Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Business Team</h1>
        </div>
        <div class="text-center">
            <img class="img-circle img-responsive img-center" width="250" src="images/ssTeam.jpg" alt="">
            <h3>Serena Kaveney,  Crystal Suarez,  Allison Pincus,  Jessinia Ruff,   Ashley Barnett</h3>
        </div>
    </div>
    <!-- Developers Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Developer Team</h1>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" width="200" src="images/brandon.jpg" alt="">
            <h3>Brandon Duncan</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" width="200" src="images/matt.jpg" alt="">
            <h3>Matt G. Hall</h3>
        </div>
        <div class="col-lg-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" width="200" src="images/gino.jpg" alt="">
            <h3>Gino Sahagun</h3>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Savour and Sip 2017</p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>
</div>