<div class="container">
    <!-- About Us Header Title -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">About Us</h1>
            <div class="text-center">
                <img class="img-circle img-responsive img-center" width="250" src="images/ssTeam.jpg" alt="">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>What We Do</h4>
                    <p>
                        Savour & Sip empowers and informs socially and environmentally conscious
                        consumers to choose local restaurants and support healthy neighborhoods.
                        This app provides a way to highlight local businesses and give the user
                        a customized experience. The user can utilize filters such as, locally
                        owned, woman/POC owned, low environmental impact, locally sourced, vegan
                        friendly, disability friendly, to specialize their dining experience.
                    </p>
                    <br />
                </div>
                <div class="col-md-6">
                    <h4>The Issue</h4>
                    <p>
                        In Seattle, long term residents and business owners are being pushed out
                        of their neighborhoods and local businesses are shutting down due to
                        increased rents and high costs of living. While many individuals want to
                        help slow these effects of gentrification, there lacks a concise resource
                        for information on which restaurants are locally owned, environmentally
                        conscious, woman or people of color owned, and source local foods. This
                        is why we created Savour & Sip: to give individuals the resources they
                        need to support locally owned restaurants, cafes, and bars. Savour & Sip
                        is a restaurant app that connects locally owned businesses with individuals
                        who wish to empower their neighbors to keep the 'original flavor' of
                        their communities alive.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- SVC Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Business Team</h1>
        </div>        
    </div>
    <!-- SVC Members Row -->
    <div class="row">
        <div class="col-md-4 text-center">
            <img class="img-circle img-responsive img-center" width="193" src="images/allison.jpg" alt="">
            <h3>Allison Pincus</h3>
            <p>Allison is a passionate supporter of going out to try new food at new,
             local restaurants. Never turns down dessert. Also likes senior dogs and Seattle sunshine.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle img-responsive img-center" width="200" src="images/ash.jpg" alt="">
            <h3>Ashley Barnett </h3>
            <p>Ash enjoys lazy days in her hammock munching on tater tots. 
            Her favorite movie is Aquamarine. 
            And she loves supporting local businesses in her community.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle img-responsive img-center" width="200" src="images/jessinia.jpg" alt="">
            <h3>Jessinia Ruff</h3>
            <p>Jessinia enjoys really good food and traveling. She loves taking her cat on a walk. 
            Her goal is to drive social change through writing and awareness.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle img-responsive img-center" width="200" src="images/serena.jpg" alt="">
            <h3>Serena Kaveney</h3>
            <p>Serena is a Global Development Major who loves eating delicious food and exploring the world both near and far.</p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle img-responsive img-center" width="200" src="images/crystal.jpeg" alt="">
            <h3>Crystal Suarez</h3>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-circle img-responsive img-center" width="200" src="images/haley.jpg" alt="">
            <h3>Haley Burson</h3>
            <p>Haley enjoys curating her cat's instagram and watching netflix. She also loves hiking and photography. She is the designer behind this app.</p>
        </div>
        
    </div>
    <!-- Developers Row -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Developer Team</h1>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" width="200" src="images/brandon.jpg" alt="">
            <h3>Brandon Duncan</h3>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" width="200" src="images/matt.jpg" alt="">
            <h3>Matt G. Hall</h3>
        </div>
        <div class="col-md-4 col-sm-6 text-center">
            <img class="img-circle img-responsive img-center" width="200" src="images/gino.jpg" alt="">
            <h3>Gino Sahagun</h3>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Savour and Sip 2017</p>
            </div>
        </div>
    </footer>
</div>