link(href='/stylesheets/style.css', rel='stylesheet')
script(src="javascripts/jQuery.min.js")
script(src="javascripts/bootstrap.min.js")
script(src="javascripts/add.js")

block content
    include header.html
    include add.html

