<div class="row maincolumn">
<div class="col-sm-2"> </div>
<div class="col-sm-8"><!-- Start Body -->
<h1>Add Restaurant</h1>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Restaurant of Coffee Shop Name">
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control bfh-phone" id="phone" data-format="(ddd) ddd-dddd" placeholder="(###) ###-####">
        </div>
        <label>Sunday</label>
        <div class="form-group row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2"><label>Open</label></div>
            <div class="col-xs-3">
                <input id="sun-open" class="form-control timepicker "/>
                <!--<select class="form-control select-sm" id="sun-open">
                    <option value="1">1 am</option>
                    <option value="2">2 am</option>
                    <option value="3">3 am</option>
                    <option value="4">4 am</option>
                    <option value="5">5 am</option>
                    <option value="6">6 am</option>
                    <option value="7">7 am</option>
                    <option value="8" selected="selected">8 am</option>
                    <option value="9">9 am</option>
                    <option value="10">11 am</option>
                    <option value="11">11 am</option>
                    <option value="12">12 pm</option>
                    <option value="13">1 pm</option>
                    <option value="14">2 pm</option>
                    <option value="15">3 pm</option>
                    <option value="16">4 pm</option>
                    <option value="17">5 pm</option>
                    <option value="18">6 pm</option>
                    <option value="19">7 pm</option>
                    <option value="20">8 pm</option>
                    <option value="21">9 pm</option>
                    <option value="22">10 pm</option>
                    <option value="23">11 pm</option>
                    <option value="24">12 am</option>
                </select>-->
            </div>
            <div class="col-xs-2"><label>Close</label></div>
            <div class="col-xs-3">
                <input id="sun-close" class="form-control timepicker " />
                <!--<select class="form-control select-sm" id="sun-close">
                    <option value="1">1 am</option>
                    <option value="2">2 am</option>
                    <option value="3">3 am</option>
                    <option value="4">4 am</option>
                    <option value="5">5 am</option>
                    <option value="6">6 am</option>
                    <option value="7">7 am</option>
                    <option value="19">8 am</option>
                    <option value="9">9 am</option>
                    <option value="10">11 am</option>
                    <option value="11">11 am</option>
                    <option value="12">12 pm</option>
                    <option value="13">1 pm</option>
                    <option value="14">2 pm</option>
                    <option value="15">3 pm</option>
                    <option value="16">4 pm</option>
                    <option value="17">5 pm</option>
                    <option value="18">6 pm</option>
                    <option value="19"  selected="selected">7 pm</option>
                    <option value="20">8 pm</option>
                    <option value="21">9 pm</option>
                    <option value="22">10 pm</option>
                    <option value="23">11 pm</option>
                    <option value="24">12 am</option>
                </select>-->
            </div>
            <div class="col-xs-3"></div>
        </div>
        <label>Monday</label>
        <div class="form-group row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2"><label>Open</label></div>
            <div class="col-xs-3">
                <input id="mon-open" class="form-control timepicker " />
                <!--<select class="form-control select-sm" id="mon-open">
                    <option value="1">1 am</option>
                    <option value="2">2 am</option>
                    <option value="3">3 am</option>
                    <option value="4">4 am</option>
                    <option value="5">5 am</option>
                    <option value="6">6 am</option>
                    <option value="7">7 am</option>
                    <option value="8" selected="selected">8 am</option>
                    <option value="9">9 am</option>
                    <option value="10">11 am</option>
                    <option value="11">11 am</option>
                    <option value="12">12 pm</option>
                    <option value="13">1 pm</option>
                    <option value="14">2 pm</option>
                    <option value="15">3 pm</option>
                    <option value="16">4 pm</option>
                    <option value="17">5 pm</option>
                    <option value="18">6 pm</option>
                    <option value="19">7 pm</option>
                    <option value="20">8 pm</option>
                    <option value="21">9 pm</option>
                    <option value="22">10 pm</option>
                    <option value="23">11 pm</option>
                    <option value="24">12 am</option>
                </select>-->
            </div>
            <div class="col-xs-2"><label>Close</label></div>
            <div class="col-xs-3">
                <input id="mon-close" class="form-control timepicker " />
                <!--<select class="form-control select-sm" id="mon-close">
                    <option value="1">1 am</option>
                    <option value="2">2 am</option>
                    <option value="3">3 am</option>
                    <option value="4">4 am</option>
                    <option value="5">5 am</option>
                    <option value="6">6 am</option>
                    <option value="7">7 am</option>
                    <option value="8">8 am</option>
                    <option value="9">9 am</option>
                    <option value="10">11 am</option>
                    <option value="11">11 am</option>
                    <option value="12">12 pm</option>
                    <option value="13">1 pm</option>
                    <option value="14">2 pm</option>
                    <option value="15">3 pm</option>
                    <option value="16">4 pm</option>
                    <option value="17">5 pm</option>
                    <option value="18">6 pm</option>
                    <option value="19"  selected="selected">7 pm</option>
                    <option value="20">8 pm</option>
                    <option value="21">9 pm</option>
                    <option value="22">10 pm</option>
                    <option value="23">11 pm</option>
                    <option value="24">12 am</option>
                </select>-->
            </div>
            <div class="col-xs-3"></div>
        </div>
        <label>Tuesday</label>
        <div class="form-group row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2"><label>Open</label></div>
            <div class="col-xs-3">
                <input id="tue-open" class="form-control timepicker " />
                <!--<select class="form-control select-sm" id="tue-open">
                    <option value="1">1 am</option>
                    <option value="2">2 am</option>
                    <option value="3">3 am</option>
                    <option value="4">4 am</option>
                    <option value="5">5 am</option>
                    <option value="6">6 am</option>
                    <option value="7">7 am</option>
                    <option value="8" selected="selected">8 am</option>
                    <option value="9">9 am</option>
                    <option value="10">11 am</option>
                    <option value="11">11 am</option>
                    <option value="12">12 pm</option>
                    <option value="13">1 pm</option>
                    <option value="14">2 pm</option>
                    <option value="15">3 pm</option>
                    <option value="16">4 pm</option>
                    <option value="17">5 pm</option>
                    <option value="18">6 pm</option>
                    <option value="19">7 pm</option>
                    <option value="20">8 pm</option>
                    <option value="21">9 pm</option>
                    <option value="22">10 pm</option>
                    <option value="23">11 pm</option>
                    <option value="24">12 am</option>
                </select>-->
            </div>
            <div class="col-xs-2"><label>Close</label></div>
            <div class="col-xs-3">
                <input id="tue-close" class="form-control timepicker " />
                <!--<select class="form-control select-sm" id="tue-close">
                    <option value="1">1 am</option>
                    <option value="2">2 am</option>
                    <option value="3">3 am</option>
                    <option value="4">4 am</option>
                    <option value="5">5 am</option>
                    <option value="6">6 am</option>
                    <option value="7">7 am</option>
                    <option value="8">8 am</option>
                    <option value="9">9 am</option>
                    <option value="10">11 am</option>
                    <option value="11">11 am</option>
                    <option value="12">12 pm</option>
                    <option value="13">1 pm</option>
                    <option value="14">2 pm</option>
                    <option value="15">3 pm</option>
                    <option value="16">4 pm</option>
                    <option value="17">5 pm</option>
                    <option value="18">6 pm</option>
                    <option value="19" selected="selected">7 pm</option>
                    <option value="20">8 pm</option>
                    <option value="21">9 pm</option>
                    <option value="22">10 pm</option>
                    <option value="23">11 pm</option>
                    <option value="24">12 am</option>
                </select>-->
            </div>
            <div class="col-xs-3"></div>
        </div>
        <label>Wednesday</label>
        <div class="form-group row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2"><label>Open</label></div>
            <div class="col-xs-3">
                <input id="wed-open" class="form-control timepicker " />
                <!--<select class="form-control select-sm" id="wed-open">
                    <option value="1">1 am</option>
                    <option value="2">2 am</option>
                    <option value="3">3 am</option>
                    <option value="4">4 am</option>
                    <option value="5">5 am</option>
                    <option value="6">6 am</option>
                    <option value="7">7 am</option>
                    <option value="8" selected="selected">8 am</option>
                    <option value="9">9 am</option>
                    <option value="10">11 am</option>
                    <option value="11">11 am</option>
                    <option value="12">12 pm</option>
                    <option value="13">1 pm</option>
                    <option value="14">2 pm</option>
                    <option value="15">3 pm</option>
                    <option value="16">4 pm</option>
                    <option value="17">5 pm</option>
                    <option value="18">6 pm</option>
                    <option value="19">7 pm</option>
                    <option value="20">8 pm</option>
                    <option value="21">9 pm</option>
                    <option value="22">10 pm</option>
                    <option value="23">11 pm</option>
                    <option value="24">12 am</option>
                </select>-->
            </div>
            <div class="col-xs-2"><label>Close</label></div>
            <div class="col-xs-3">
                <input id="wed-close" class="form-control timepicker " />
                <!--<select class="form-control select-sm" id="wed-close">
                    <option value="1">1 am</option>
                    <option value="2">2 am</option>
                    <option value="3">3 am</option>
                    <option value="4">4 am</option>
                    <option value="5">5 am</option>
                    <option value="6">6 am</option>
                    <option value="7">7 am</option>
                    <option value="8">8 am</option>
                    <option value="9">9 am</option>
                    <option value="10">11 am</option>
                    <option value="11">11 am</option>
                    <option value="12">12 pm</option>
                    <option value="13">1 pm</option>
                    <option value="14">2 pm</option>
                    <option value="15">3 pm</option>
                    <option value="16">4 pm</option>
                    <option value="17">5 pm</option>
                    <option value="18">6 pm</option>
                    <option value="19" selected="selected">7 pm</option>
                    <option value="20">8 pm</option>
                    <option value="21">9 pm</option>
                    <option value="22">10 pm</option>
                    <option value="23">11 pm</option>
                    <option value="24">12 am</option>
                </select>-->
            </div>
            <div class="col-xs-3"></div>
        </div>
        <label>Thursday</label>
        <div class="form-group row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2"><label>Open</label></div>
            <div class="col-xs-3">
                <input id="thu-open" class="form-control timepicker " />
                <!--<select class="form-control select-sm" id="thu-open">
                    <option value="1">1 am</option>
                    <option value="2">2 am</option>
                    <option value="3">3 am</option>
                    <option value="4">4 am</option>
                    <option value="5">5 am</option>
                    <option value="6">6 am</option>
                    <option value="7">7 am</option>
                    <option value="8" selected="selected">8 am</option>
                    <option value="9">9 am</option>
                    <option value="10">11 am</option>
                    <option value="11">11 am</option>
                    <option value="12">12 pm</option>
                    <option value="13">1 pm</option>
                    <option value="14">2 pm</option>
                    <option value="15">3 pm</option>
                    <option value="16">4 pm</option>
                    <option value="17">5 pm</option>
                    <option value="18">6 pm</option>
                    <option value="19">7 pm</option>
                    <option value="20">8 pm</option>
                    <option value="21">9 pm</option>
                    <option value="22">10 pm</option>
                    <option value="23">11 pm</option>
                    <option value="24">12 am</option>
                </select>-->
            </div>
            <div class="col-xs-2"><label>Close</label></div>
            <div class="col-xs-3">
                <input id="thu-close" class="form-control timepicker " />
                <!--<select class="form-control select-sm" id="thu-close">
                    <option value="1">1 am</option>
                    <option value="2">2 am</option>
                    <option value="3">3 am</option>
                    <option value="4">4 am</option>
                    <option value="5">5 am</option>
                    <option value="6">6 am</option>
                    <option value="7">7 am</option>
                    <option value="8">8 am</option>
                    <option value="9">9 am</option>
                    <option value="10">11 am</option>
                    <option value="11">11 am</option>
                    <option value="12">12 pm</option>
                    <option value="13">1 pm</option>
                    <option value="14">2 pm</option>
                    <option value="15">3 pm</option>
                    <option value="16">4 pm</option>
                    <option value="17">5 pm</option>
                    <option value="18">6 pm</option>
                    <option value="19" selected="selected">7 pm</option>
                    <option value="20">8 pm</option>
                    <option value="21">9 pm</option>
                    <option value="22">10 pm</option>
                    <option value="23">11 pm</option>
                    <option value="24">12 am</option>
                </select>-->
            </div>
            <div class="col-xs-3"></div>
        </div>
        <label>Friday</label>
        <div class="form-group row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2"><label>Open</label></div>
            <div class="col-xs-3">
                <input id="fri-open" class="form-control timepicker " />
                <!--<select class="form-control select-sm" id="fri-open">
                    <option value="1">1 am</option>
                    <option value="2">2 am</option>
                    <option value="3">3 am</option>
                    <option value="4">4 am</option>
                    <option value="5">5 am</option>
                    <option value="6">6 am</option>
                    <option value="7">7 am</option>
                    <option value="8" selected="selected">8 am</option>
                    <option value="9">9 am</option>
                    <option value="10">11 am</option>
                    <option value="11">11 am</option>
                    <option value="12">12 pm</option>
                    <option value="13">1 pm</option>
                    <option value="14">2 pm</option>
                    <option value="15">3 pm</option>
                    <option value="16">4 pm</option>
                    <option value="17">5 pm</option>
                    <option value="18">6 pm</option>
                    <option value="19">7 pm</option>
                    <option value="20">8 pm</option>
                    <option value="21">9 pm</option>
                    <option value="22">10 pm</option>
                    <option value="23">11 pm</option>
                    <option value="24">12 am</option>
                </select>-->
            </div>
            <div class="col-xs-2"><label>Close</label></div>
            <div class="col-xs-3">
                <input id="fri-close" class="form-control timepicker " />
                <!--<select class="form-control select-sm" id="fri-close">
                    <option value="1">1 am</option>
                    <option value="2">2 am</option>
                    <option value="3">3 am</option>
                    <option value="4">4 am</option>
                    <option value="5">5 am</option>
                    <option value="6">6 am</option>
                    <option value="7">7 am</option>
                    <option value="8">8 am</option>
                    <option value="9">9 am</option>
                    <option value="10">11 am</option>
                    <option value="11">11 am</option>
                    <option value="12">12 pm</option>
                    <option value="13">1 pm</option>
                    <option value="14">2 pm</option>
                    <option value="15">3 pm</option>
                    <option value="16">4 pm</option>
                    <option value="17">5 pm</option>
                    <option value="18">6 pm</option>
                    <option value="19" selected="selected">7 pm</option>
                    <option value="20">8 pm</option>
                    <option value="21">9 pm</option>
                    <option value="22">10 pm</option>
                    <option value="23">11 pm</option>
                    <option value="24">12 am</option>
                </select>-->
            </div>
            <div class="col-xs-3"></div>
        </div>
        <label>Saturday</label>
        <div class="form-group row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2"><label>Open</label></div>
            <div class="col-xs-3">
                <input id="sat-open" class="form-control timepicker " />
                <!--<select class="form-control select-sm" id="sat-open">
                    <option value="1">1 am</option>
                    <option value="2">2 am</option>
                    <option value="3">3 am</option>
                    <option value="4">4 am</option>
                    <option value="5">5 am</option>
                    <option value="6">6 am</option>
                    <option value="7">7 am</option>
                    <option value="8" selected="selected">8 am</option>
                    <option value="9">9 am</option>
                    <option value="10">11 am</option>
                    <option value="11">11 am</option>
                    <option value="12">12 pm</option>
                    <option value="13">1 pm</option>
                    <option value="14">2 pm</option>
                    <option value="15">3 pm</option>
                    <option value="16">4 pm</option>
                    <option value="17">5 pm</option>
                    <option value="18">6 pm</option>
                    <option value="19">7 pm</option>
                    <option value="20">8 pm</option>
                    <option value="21">9 pm</option>
                    <option value="22">10 pm</option>
                    <option value="23">11 pm</option>
                    <option value="24">12 am</option>
                </select>-->
            </div>
            <div class="col-xs-2"><label>Close</label></div>
            <div class="col-xs-3">
                <input id="sat-close" class="form-control timepicker " />
                <!--<select class="form-control select-sm" id="sat-close">
                    <option value="1">1 am</option>
                    <option value="2">2 am</option>
                    <option value="3">3 am</option>
                    <option value="4">4 am</option>
                    <option value="5">5 am</option>
                    <option value="6">6 am</option>
                    <option value="7">7 am</option>
                    <option value="8" >8 am</option>
                    <option value="9">9 am</option>
                    <option value="10">11 am</option>
                    <option value="11">11 am</option>
                    <option value="12">12 pm</option>
                    <option value="13">1 pm</option>
                    <option value="14">2 pm</option>
                    <option value="15">3 pm</option>
                    <option value="16">4 pm</option>
                    <option value="17">5 pm</option>
                    <option value="18">6 pm</option>
                    <option value="19"  selected="selected">7 pm</option>
                    <option value="20">8 pm</option>
                    <option value="21">9 pm</option>
                    <option value="22">10 pm</option>
                    <option value="23">11 pm</option>
                    <option value="24">12 am</option>
                </select>-->
            </div>
            <div class="col-xs-3"></div>
        </div>
        <div class="form-group">
            <label for="pricing">Price Rating</label>
            <div id="priceRating" class="rating" data-rate-value=0></div>
            <!--<select class="form-control" id="pricing">
                <option value="1">$</option>
                <option value="2">$$</option>
                <option value="3">$$$</option>
                <option value="4">$$$$</option>
                <option value="5">$$$$$</option>
            </select>-->
        </div>
        <div class="form-group">
            <label for="rating">Rating</label>
            <div id="starRating" class="rating" data-rate-value=0></div>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <textarea class="form-control" id="address" rows="2"></textarea>
        </div>
        <div class="form-group row">
            <div class="col-xs-6">
            <label for="lat">Lat</label>
            <input type="text" class="form-control" id="lat" placeholder="##.######">
            </div>
            <div class="col-xs-6">
            <label for="lon">Lon</label>
            <input type="text" class="form-control" id="lon" placeholder="##.######">
            </div>
        </div>
        <div class="form-group">
            <label for="desc">Short Description</label>
            <textarea class="form-control" id="desc" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="website">Website Link</label>
            <input type="text" class="form-control" id="website" placeholder="example-restaurant.com">
        </div>
        <div class="form-group">
            <label for="menu">Menu Link</label>
            <input type="text" class="form-control" id="menu" placeholder="example-restaurant.com/menu">
        </div>
        <br/>
    <div id="filter-bar">
        <div class="input-group">
            <input id="filter-search" type="text" class="form-control search-form" placeholder="Search">
            <span class="input-group-btn">
                <button id="search-button" class="btn btn-primary search-btn">
                    <img src="../images/search.png" width="18" />
                </button>
                <button id="addFilter" class="btn btn-primary filter-btn">
                    <img id="filter-button" src="../images/filter.png" width="18" />
                </button>
            </span>
        </div>
    </div>
    <div id="bubble-bar"></div>
    <div id="hot-bar">
        <div class="hotBox">Locally Owned</div>
        <div class="hotBox">Minority Owned</div>
        <div class="hotBox">Environmentally Friendly</div>
        <div class="hotBox">Locally Sourced</div>
        <div class="hotBox">Vegan Friendly</div>
        <div class="hotBox">Disability Friendly</div>
    </div>
    <br/>
    <br />
    <br />
    <br />
        <button class="btn btn-primary" id="submitButton">Submit</button>
    </div><!-- End Body -->
    <div class="col-sm-2"> </div>
</div><!-- End Row-->

