link(href='/stylesheets/style.css', rel='stylesheet')
script(src="javascripts/jQuery.min.js")
script(src="javascripts/bootstrap.min.js")
script(src="javascripts/add.js")
script(src="javascripts/header.js")
script(src="javascripts/rater.min.js")
script(src="javascripts/jquery.timepicker.min.js")
block content
    include header.html
    <div id="page-content">
    include add.html
    </div>
