<body>
    <div class="row">
<div class="col-sm-2"> </div>
<div class="col-sm-8"><!-- Start Body -->
<h1>New Restaurant</h1>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="email" class="form-control" id="name" placeholder="Restaurant of Coffee Shop Name">
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control bfh-phone" id="phone" data-format="(ddd) ddd-dddd" placeholder="(###) ###-####">
        </div>
        <label>Sunday</label>
        <div class="form-group row">
          <div class="col-xs-1"></div>
            <div class="col-xs-2"><label>Open</label></div>
            <div class="col-xs-3">
                <select class="form-control select-sm" id="sun-open">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                </select>
            </div>
            <div class="col-xs-2"><label>Close</label></div>
            <div class="col-xs-3">
                <select class="form-control select-sm" id="sun-open">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                </select>
            </div>
            <div class="col-xs-3"></div>
        </div>
        <label>Monday</label>
        <div class="form-group row">
          <div class="col-xs-1"></div>
            <div class="col-xs-2"><label>Open</label></div>
            <div class="col-xs-3">
                <select class="form-control select-sm" id="sun-open">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                </select>
            </div>
            <div class="col-xs-2"><label>Close</label></div>
            <div class="col-xs-3">
                <select class="form-control select-sm" id="sun-open">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                </select>
            </div>
            <div class="col-xs-3"></div>
        </div>
        <label>Tuesday</label>
        <div class="form-group row">
          <div class="col-xs-1"></div>
            <div class="col-xs-2"><label>Open</label></div>
            <div class="col-xs-3">
                <select class="form-control select-sm" id="sun-open">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                </select>
            </div>
            <div class="col-xs-2"><label>Close</label></div>
            <div class="col-xs-3">
                <select class="form-control select-sm" id="sun-open">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                </select>
            </div>
            <div class="col-xs-3"></div>
        </div>
        <label>Wednesday</label>
        <div class="form-group row">
          <div class="col-xs-1"></div>
            <div class="col-xs-2"><label>Open</label></div>
            <div class="col-xs-3">
                <select class="form-control select-sm" id="sun-open">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                </select>
            </div>
            <div class="col-xs-2"><label>Close</label></div>
            <div class="col-xs-3">
                <select class="form-control select-sm" id="sun-open">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                </select>
            </div>
            <div class="col-xs-3"></div>
        </div>
        <label>Thursday</label>
        <div class="form-group row">
          <div class="col-xs-1"></div>
            <div class="col-xs-2"><label>Open</label></div>
            <div class="col-xs-3">
                <select class="form-control select-sm" id="sun-open">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                </select>
            </div>
            <div class="col-xs-2"><label>Close</label></div>
            <div class="col-xs-3">
                <select class="form-control select-sm" id="sun-open">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                </select>
            </div>
            <div class="col-xs-3"></div>
        </div>
        <label>Friday</label>
        <div class="form-group row">
          <div class="col-xs-1"></div>
            <div class="col-xs-2"><label>Open</label></div>
            <div class="col-xs-3">
                <select class="form-control select-sm" id="sun-open">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                </select>
            </div>
            <div class="col-xs-2"><label>Close</label></div>
            <div class="col-xs-3">
                <select class="form-control select-sm" id="sun-open">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                </select>
            </div>
            <div class="col-xs-3"></div>
        </div>
        <label>Saturday</label>
        <div class="form-group row">
          <div class="col-xs-1"></div>
            <div class="col-xs-2"><label>Open</label></div>
            <div class="col-xs-3">
                <select class="form-control select-sm" id="sun-open">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                </select>
            </div>
            <div class="col-xs-2"><label>Close</label></div>
            <div class="col-xs-3">
                <select class="form-control select-sm" id="sun-open">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                    <option>16</option>
                    <option>17</option>
                    <option>18</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                </select>
            </div>
            <div class="col-xs-3"></div>
        </div>
        <div class="form-group">
            <label for="pricing">Price Rating (1-5)</label>
            <select class="form-control" id="pricing">
                <option value="1">$</option>
                <option value="2">$$</option>
                <option value="3">$$$</option>
                <option value="4">$$$$</option>
                <option value="5">$$$$$</option>
            </select>
        </div>
        <div class="form-group">
            <label for="rating">Rating (1-5)</label>
            <select class="form-control" id="rating">
                <option value="1">*</option>
                <option value="2">**</option>
                <option value="3">***</option>
                <option value="4">****</option>
                <option value="5">*****</option>
            </select>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <textarea class="form-control" id="address" rows="2"></textarea>
        </div>
        <div class="form-group row">
          <div class="col-xs-6">
            <label for="lat">Lat</label>
            <input type="text" class="form-control" id="lat" placeholder="##.######">
          </div>
          <div class="col-xs-6">
            <label for="lon">Lon</label>
            <input type="text" class="form-control" id="lon" placeholder="##.######">
          </div>
        </div>
        <div class="form-group">
            <label for="desc">Short Description</label>
            <textarea class="form-control" id="desc" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="website">Website Link</label>
            <input type="text" class="form-control" id="website" placeholder="example-restaurant.com">
        </div>
        <div class="form-group">
            <label for="menu">Menu Link</label>
            <input type="text" class="form-control" id="menu" placeholder="example-restaurant.com/menu">
        </div>

        <div class="form-check">
            <label class="form-check-label">
              <input id="green" type="checkbox" class="form-check-input">
              &nbsp;&nbsp;Environmentally Conscious
            </label>
            <br/>
            <label class="form-check-label">
              <input id="local" type="checkbox" class="form-check-input">
              &nbsp;&nbsp;Locally Sourced
            </label>
            <br />
            <label class="form-check-label">
              <input id="ownership" type="checkbox" class="form-check-input">
              &nbsp;&nbsp;Non-Minority Owned
            </label>
            <br />
            <label class="form-check-label">
              <input id="vegan" type="checkbox" class="form-check-input">
              &nbsp;&nbsp;Vegan Friendly
            </label>
            <br />
            <label class="form-check-label">
              <input id="ada" type="checkbox" class="form-check-input">
              &nbsp;&nbsp;Disability Friendly
            </label>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div><!-- End Body -->
    <div class="col-sm-2"> </div>
</div><!-- End Row-->
</body>
