link(href='/stylesheets/style.css', rel='stylesheet')
script(src="javascripts/jQuery.min.js")
script(src="javascripts/bootstrap.min.js")
script(src="javascripts/header.js")
script(src="javascripts/favorites.js")

block content
    include header.html
    <div id="page-content">
    include favorites.html
    </div>

