<!-- Already included?
<script src="//code.jquery.com/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
 -->

    <div class="navbar navbar-savour navbar-fixed-top" role="navigation" id="slide-nav">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a href="./">
                    <img class="header-logo" src="images/ss-logo-wide.png" />
                </a>
            </div>
            <div id="slidemenu">
                <a href="./">
                    <img class="menu-logo" src="images/ss-logo-round.png" />
                </a>
                <ul class="nav navbar-nav">
                    <li class="active"><a class="nav-text" href="./">Home</a></li>
                    <li><a class="nav-text" href="about">Aboot</a></li>
                    <li><a class="nav-text" href="#contact">My Places</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle nav-text" data-toggle="dropdown">More<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-text" href="add">Add Restaurant</a></li>
                            <li><a class="nav-text" href="search">Search</a></li>
                            <li><a class="nav-text" href="restaurant">Restaurant</a></li>                  
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle nav-text" data-toggle="dropdown">I feel like <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-text" href="add">Coffee</a></li>
                            <li><a class="nav-text" href="search">Tea</a></li>
                            <li><a class="nav-text" href="restaurant">Baked Goods</a></li>
                            <li class="divider"></li>
                            <li><a class="nav-text" href="restaurant">Breakfast</aclass="nav-text"></li>
                            <li><a class="nav-text" href="restaurant">Lunch</aclass="nav-text"></li>
                            <li><a class="nav-text" href="restaurant">Dinner</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>