link(href='/stylesheets/style.css', rel='stylesheet')
script(src="javascripts/jQuery.min.js")
script(src="javascripts/bootstrap.min.js")
script(src="javascripts/header.js")
script(src="javascripts/maps.js")
script(src="javascripts/list.js")

block content
  include header.html
  include list.html
  <div id="page-content">
  include maps.html
  </div>