<div class="navbar-fixed-bottom">
    <table id="t01">
        <tr>
            <th>Restaurant</th>
            <th>Food Type</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>Jai Thai</td>
            <td>Thai</td>
            <td>$$</td>
        </tr>
        <tr>
            <td>Curbside</td>
            <td>Vietnamese</td>
            <td>$</td>
        </tr>
        <tr>
            <td>How to Cook a Wolf</td>
            <td>American</td>
            <td>$$$$</td>
        </tr>
        <tr>
            <td>Teriyaki Bowl</td>
            <td>Teriyaki</td>
            <td>$$</td>
        </tr>

    </table>

</div>