link(href='/stylesheets/style.css', rel='stylesheet')
script(src="javascripts/jQuery.min.js")
script(src="javascripts/bootstrap.min.js")
script(src="javascripts/header.js")
script(src="javascripts/login.js")

block content
    include header.html
    <div id="page-content" class="no-scroll">
    include login.html
    </div>   