<!-- maps.html -->
<div id="filter-menu">
    <div class="container type-selector">
        <div class="row">
            <div class="r-third">
                <img src="images/brandon.jpg"/>
            </div>
            <div class="r-third">
                <img src="images/brandon.jpg" />
            </div>
            <div class="r-third">
                <img src="images/brandon.jpg" />
            </div>
        </div> 
        <div class="row">
            <div class="r-third">
                cafes
            </div>
            <div class="r-third">
                restaurants
            </div>
            <div class="r-third">
                bars
            </div>
        </div>       
    </div>
    <div class="sort-by row">
        <div class="r-third">
            distance
        </div>
        <div class="r-third">
            rating
        </div>
        <div class="r-third">
            a&ndash;z
        </div>
    </div>
    <div class="main-filters">
            <div class="row">
                <div class="mf-icon">
                    <img src="images/brandon.jpg" />
                </div>
                <div class="mf-name">
                    locally owned
                </div>                
            </div>
            <div class="row">
                <div class="mf-icon">
                    <img src="images/brandon.jpg" />
                </div>
                <div class="mf-name">
                    women/POC owned
                </div>
            </div>
            <div class="row">
                <div class="mf-icon">
                    <img src="images/brandon.jpg" />
                </div>
                <div class="mf-name">
                    low environmental impact
                </div>
            </div>
            <div class="row">
                <div class="mf-icon">
                    <img src="images/brandon.jpg" />
                </div>
                <div class="mf-name">
                    locally sourced
                </div>
            </div>
            <div class="row">
                <div class="mf-icon">
                    <img src="images/brandon.jpg" />
                </div>
                <div class="mf-name">
                    vegan friendly
                </div>
            </div>
            <div class="row">
                <div class="mf-icon">
                    <img src="images/brandon.jpg" />
                </div>
                <div class="mf-name">
                    disability friendly
                </div>
            </div>
    </div>
</div>
<div id="map"></div>
<div id="search-bar">
        <div class="input-group">
            <input id="filter-search" type="text" class="form-control search-form" placeholder="search">
            <span class="input-group-btn">
                <button id="addFilter" class="btn btn-primary filter-btn">
                    <span>filter</span>
                </button>
            </span>
        </div>        
</div>
<div id="bubble-bar"></div>
<div id="hot-bar">
    <div class="hotBox">Locally Owned</div>
    <div class="hotBox">Minority Owned</div>
    <div class="hotBox">Environmentally Friendly</div>
    <div class="hotBox">Locally Sourced</div>
    <div class="hotBox">Vegan Friendly</div>
    <div class="hotBox">Disability Friendly</div>
</div>

<!-- Matt has the API Key -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi-ncVIncoUwpSGqxxRpR2loOmNB2tp8Y&callback=initMap">
</script>
<!-- /maps.html -->
