<!-- maps.html -->
<div id="map"></div>
<div id="search-bar">
        <div class="input-group">
            <input type="text" class="form-control search-form" placeholder="Search">
            <span class="input-group-btn">
                <button id="search-button" class="btn btn-primary search-btn">
                    <img src="../images/search.png" width="18px" />
                </button>
                <button class="btn btn-primary filter-btn">
                    <img id="filter-button"src="../images/filter.png" width="18px" />
                </button>
            </span>
        </div>
        
</div>
<!-- Matt has the APU Key -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi-ncVIncoUwpSGqxxRpR2loOmNB2tp8Y&callback=initMap">
</script>
<!-- /maps.html -->
