<!-- maps.html -->
<div id="map"></div>
<div id="search-bar">
        <div class="input-group">
            <input id="filter-search" type="text" class="form-control search-form" placeholder="Search">
            <span class="input-group-btn">
                <button id="search-button" class="btn btn-primary search-btn">
                    <img src="../images/search.png" width="18" />
                </button>
                <button id="addFilter" class="btn btn-primary filter-btn">
                    <img id="filter-button"src="../images/filter.png" width="18" />
                </button>
            </span>
        </div>        
</div>
<div id="bubble-bar"></div>
<div id="hot-bar">
    <div class="hotBox">Locally Owned</div>
    <div class="hotBox">Minority Owned</div>
    <div class="hotBox">Environmentally Friendly</div>
    <div class="hotBox">Locally Sourced</div>
    <div class="hotBox">Vegan Friendly</div>
    <div class="hotBox">Disability Friendly</div>
</div>

<!-- Matt has the APU Key -->
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi-ncVIncoUwpSGqxxRpR2loOmNB2tp8Y&callback=initMap">
</script>
<!-- /maps.html -->
