<body>
    <div class="container-fluid">
        <div class="text-center">
            <!--Neighborhood Border Row-->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <!--Neighborhood image/name-->
                        <div class="row">
                            <div class="col-sm-12">
                                <h1>
                                    <span id="neighborhoodName"></span>
                                </h1>
                            </div>
                        </div>
                        <div class="row">
                            <img src="/images/queenanne.jpg" class="img-circle" alt="" style="width:100%; max-width:400px">
                        </div>
                    </div>
                    <!--Neighborhod Bio-->
                    <div class="col-sm-6 right-col">
                        <p id="neighborhoodBio"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>