<body>

    <div class="container-fluid">


        <div class="text-center">

            <!--Neighborhood Border Row-->

            <div class="container-fluid" style="padding-top:2em;  ">


                <div class="row" style="padding:2em;">
                    <!--Neighborhood image/name-->
                    <div class="row">
                        <img src="/images/queenanne.jpg" style="height:350px; width:350px;" class="img-circle" alt="">
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>
                                <span>Queen Anne</span>
                            </h1>
                        </div>
                    </div>
                    <!--Rating Stars-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ratings">
                                <h4>
                                    City: <span>Seattle</span>
                                </h4>

                            </div>
                        </div>

                    </div>
                    <!--Neighborhod Bio-->
                    <div class="row">

                        <div class="col-sm-12">
                            <p> Queen Anne lies on a hill in the heart of Seattle, with a magnificent view of downtown. </p>
                             <p>This area houses many suburban and has many local food options available. You will find </p>
                            <p> yourself loving the small community environment of this famil-friendly local neighborhood. </p>
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>

</body>