<body>

    <div class="container-fluid">


        <div class="text-center">

            <!--Neighborhood Border Row-->

            <div class="container-fluid" style="padding-top:2em;  ">

                <div class="row" style="padding:2em;">

                    <!--Neighborhood image/name-->
                    <div class="row">
                        <div class="col-sm-12">
                            <h1>
                                <span id="neighborhoodName">Neighborhood Name</span>
                            </h1>
                        </div>
                    </div>
                    <div class="row">
                        <img src="/images/queenanne.jpg" style="height:auto; width:75%;" class="img-circle" alt="">
                    </div>
                    <!--City, Population-->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ratings">
                                <h4> City: <span id="neighborhoodCity"></span></h4>
                                <h4> Population: <span id="neighborhoodPop"></span></h4>
                            </div>
                        </div>
                    </div>
                    <!--Neighborhod Bio-->
                    <div class="row">

                        <div class="col-sm-12">
                            <p id="neighborhoodBio"></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</body>