<body>

    <div class="container-fluid">


        <div class="text-center">
            <img src="http://placehold.it/200x200" class="img-circle" alt="">




            <!--Restaurant Border Row-->


            
                 <div class="container-fluid" style="padding-top:2em;  ">


                        <div class="row" style="background-color:#2e8bcc; padding:2em; border:solid;">
                            <!--Restaurant Name Row-->
                            <div class="row">
                                <div class="col-sm-12">
                                    <h1>
                                        <span>Restaurant Name</span>
                                    </h1>
                                </div>
                            </div>
                            <!--Rating Stars-->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="ratings">
                                        <h4>
                                            Rate: <span>Integer</span>
                                        </h4>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="ratings">
                                            <h4>
                                                Hours: <span>Start</span>:<span>End</span>
                                            </h4>

                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!--Social Icons Title Food-->
                            <div class="row">

                                <div class="col-sm-12">
                                    <h3>
                                        <span>Social Icons</span>
                                    </h3>
                                </div>

                            </div>

                            <!--Social Icons -->
                            <div class="container-fluid">
                                <div class="col-sm-6 col-md-4">
                                    <a href="#">
                                        <img class="img-circle" src="http://placehold.it/200x200" width="100" height="100" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <a href="#">
                                        <img class="img-circle" src="http://placehold.it/200x200" width="100" height="100" alt="">
                                    </a>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <a href="#">
                                        <img class="img-circle" src="http://placehold.it/200x200" width="100" height="100" alt="">
                                    </a>
                                </div>

                            </div>


                        </div>
                    </div>
             
            <!--Extra Descriptions and yada-->
        </div>

        <div class="text-center">
            <div class="divider"></div>
            <div class="section">
                <h5>
                    Section 1
                    <span>Description here</span>
                </h5>

            </div>
            <div class="divider"></div>

        </div>

        




    </div>

</body>