<img id="favorite" src="../images/icons/heart-i.png"/>
<div class="row centercolumn">
    <!--Restaurant Border Row-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <!--Restaurant Image Row-->
                <div class="row">
                    <div class="col-sm-2"> </div>
                    <div class="col-sm-8" style="width:100%;height:auto; margin:auto;">
                        <!-- Start Body -->
                        <img id="restImage" src="http://placehold.it/200x200" class="img img-center img-circle" alt="">
                    </div>
                    <div class="col-sm-2"> </div>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- Filter Disp -->
                <div class="row">
                    <div class="col-xs-2 desc-filter"><img src="images/icons/house-i.png" class="filter-img house" /> </div>
                    <div class="col-xs-2 desc-filter"><img src="images/icons/person-i.png" class="filter-img person" /> </div>
                    <div class="col-xs-2 desc-filter"><img src="images/icons/tree-i.png" class="filter-img tree" /> </div>
                    <div class="col-xs-2 desc-filter"><img src="images/icons/flower-i.png" class="filter-img flower" /> </div>
                    <div class="col-xs-2 desc-filter"><img src="images/icons/carrot-i.png" class="filter-img carrot" /> </div>
                    <div class="col-xs-2 desc-filter"><img src="images/icons/disability-i.png" class="filter-img disability" /> </div>
                </div>
                <!-- REstaurant Name -->
                <div class="row">
                    <div class="col-sm-2"> </div>
                    <div class="col-sm-8 text-center">
                        <h1>
                            <span id="restName">Restaurant Name</span>
                        </h1>
                    </div>
                    <div class="col-sm-2"> </div>
                </div>
                <!--Rating Stars-->
                <div class="row">
                    <div class="col-sm-2"> </div>
                    <div class="col-sm-8">
                        <div id="restStars" style="margin:auto;"></div>
                    </div>
                    <div class="col-sm-2"> </div>
                </div>
                <!--Restaurant PHone-->
                <div class="row">
                    <div class="col-sm-2"> </div>
                    <div class="col-sm-8">
                        <p class="text-center"> <span id="phone">(###) ###-####</span></p>
                    </div>
                    <div class="col-sm-2"> </div>
                </div>
                <!--Day and Times-->
                <div class="row">
                    <div class="col-sm-2"> </div>
                    <div class="col-sm-8" style="text-align:center">
                        <a id="times" style="text-decoration:none !important; color:#146734"> <span class="glyphicon glyphicon-chevron-down"></span></a>
                        <div id="togTable" class="table-responsive" style="display:none; text-align:center">
                            <table class="table" id="expanded-times"></table>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <!--Address-->
                <div class="row">
                    <div class="col-sm-2"> </div>
                    <div class="col-sm-8">
                        <p class="text-center" id="address"></p>
                    </div>
                    <div class="col-sm-2"> </div>
                </div>
                <!--Description-->
                <div class="row">
                    <div class="col-sm-2"> </div>
                    <div class="col-sm-8">
                        <p class="text-center"> <span id="bio"> Small Bio of Restaruant  </span></p>
                    </div>
                    <div class="col-sm-2"> </div>
                </div>
                <!--Restaurant Menu Link-->
                <div class="row">
                    <div class="col-sm-2"> </div>
                    <div class="col-sm-8">
                        <p class="text-center"> <span id="rest-link"></span> &nbsp; <span id="menu-link"></span></p>
                    </div>
                    <div class="col-sm-2"> </div>
                </div>
            </div>
        </div>
    </div>
    <!--Extra Reviews and Descriptions and yada-->
    <div class="divider"></div>
    <div class="row" height="60">
        <div class="col-xs-8" >
            <h1 style="margin-left: 15px;">Reviews</h1>
        </div>
        <div id="create-review-button" class="col-xs-4 text-center">
            <img src="../images/icons/pen-g.png" />
        </div>
    </div>
    <!-- Review Form -->
    <form id="review-form">
        <div class="divider"></div>
        <div class="form-group">
            <label for="rating">Rating: </label>
            <div id="review-rating" class="rating" data-rate-value=5></div>
        </div>
        <div class="form-group">
            <label for="title">Title:</label>
            <br />
            <input id="title" type="text" value=""/>
            <br />
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <div>
            <button id="submit-button" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <div class="divider"></div>
    <div id="review-none" class="row" style="display:none;">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h3 class="text-center">Write The First One</h3>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <!--Creation of Review List -->
    <div id="review-list" class="dashTable"></div>
    <div class="divider"></div>
</div>
<div class="modal">
    <!-- Place at bottom of page Overlay -->
</div>