link(href='/stylesheets/metroStyle.css', rel='stylesheet')
script(src="javascripts/jQuery.min.js")
script(src="javascripts/bootstrap.min.js")

block content
    include header.html
    include restaurant.html