<div class="row maincolumn">
 
    <div class="col-sm-2"> </div>
    <div class="col-sm-8"> </div> <!--Start Body -->
    <h1>Search Page</h1>
        <table id="dashboard-list" class="table">
            <thead>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    <div class="col-sm-2"> </div> <!--End Body -->
  
</div>