<div class="row maincolumn">
 
    <div class="col-sm-2"> </div>
    <div class="col-sm-8"> </div> <!--Start Body -->
    <h1>Administrator Page</h1>
    <div class="list">
    <!--Restaurants are insterted here via js -->
        <figure>
            <button class="toggle-more-less">El Camion</button>
            <figcaption>
                <h5>Delicious Mexican place!</h5>
                <button class="delete"> Delete Restaurant </button>
            </figcaption>
        </figure>
        <figure>
            <button class="toggle-more-less">Jai Thai</button>
            <figcaption>
                <h5>Delicious place!</h5>
                <button class="delete"> Delete Restaurant </button>
            </figcaption>
        </figure>
    </div>
    </div>
        <!--<table id="dashboard-list" class="table">
            <thead>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Rating</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <button class="accordion">Restaurant Name</button>
        <div class="panel">
            <p>Hello there!</p>
        </div> -->
        <div class="col-sm-2"> </div> <!--End Body -->

    </div>