link(href='/stylesheets/style.css', rel='stylesheet')
script(src="javascripts/jQuery.min.js")
script(src="javascripts/bootstrap.min.js")
script(src="javascripts/header.js")
script(src="javascripts/search.js")
block content
    include header.html
    <div id="page-content">
    include search.html
    </div>   