<div class="row maincolumn">
 
    <div class="col-sm-2"> </div>
    <div class="col-sm-8"> </div> <!--Start Body -->
    <h1>Administrator</h1>
    <button><a class="nav-text" href="add">Add Restaurant</a></button>
    <h2>Restaurants</h2>
    <div class="list">
    <!--Restaurants are insterted here via js -->
        
    </div>
    </div>
        <!--<table id="dashboard-list" class="table">
            <thead>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Rating</th>
                    <th>View More</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <button class="accordion">Restaurant Name</button>
        <div class="panel">
            <p>Hello there!</p>
        </div> -->
        <div class="col-sm-2"> </div> <!--End Body -->

    </div>