link(href='/stylesheets/materialize.min.css', rel='stylesheet')
link(href='/stylesheets/round-about.css', rel='stylesheet')
script(src="javascripts/jQuery.min.js")
script(src="javascripts/bootstrap.min.js")

block content
    include descRestaurant.html