    <!-- Dropdown Structure and or header -->
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
            
        
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Sass</a></li>
            <li><a href="#">Components</a></li>
            <li>
                <form class="navbar-form navbar-left">
                <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
                   
                </div>
                <button type="submit" class="btn btn-default">Search</button>
                </form>
            </li>
        </ul>
        
    </div>
</nav>

<div class="container-fluid">


  

    <!--Image Row-->
   
    <img style="width:100%" height="275" class="img" src="http://placehold.it/200x200" alt="" />
  
    <!--Restaurant Border Row-->

    <div class="container-fluid">

        <div class="container-fluid" >
            
            <!--Restaurant Name Row-->
            <div class="row">
                <div class="col-md-8">
                    <h1>
                    <span>Restaurant Name</span>
                    </h1>
                </div>
                <!--Floating Button maybe?-->
                <div class="col-md-4">
                    
                </div>
            </div>
            <!--Rating Stars-->
            <div class="row">  
                <div class="col-sm-3">
                    <div class="ratings">
                        <h4>
                            Rate: <span>Integer</span>
                        </h4>

                    </div>
                </div>
                <div class="col-sm-3">
                    
                </div>
                <div class="col-sm-3">
                  
                </div>
                <div class="col-sm-3">
                   
                </div>

            </div>
            <!--Category Type Food-->
            <div class="row">
                
                <div class="col-sm-3">
                    <h3>
                        <span>Category type</span>
                    </h3>
                </div>
                
            </div>
            
        </div>
        

        <!--Extra Descriptions and yada-->
    </div>
    <div class="divider"></div>
    <div class="section">
        <h5>Section 1
        <span>Description here</span>
        </h5>
       
    </div>
    <div class="divider"></div>
    

</div>