@import url("bootstrap.css");

/* For everything */
h1{
  color:red;
}



/* For all smart phones - iPhone 4 screen = 320px*/
/* Note: everything smartphone specific should have a counter in the web media query*/
@media (min-width: 310px) {
  h1{
    color:orange;
  }

}


/* For large smart phones or bigger - iPhone 6+ screen = 414px*/
@media (min-width: 404px) {
  h1{
    color:yellow;
  }
}

/* For tablets or  bigger- ipad screen = 768*/
@media (min-width: 640px) {
  h1{
    color:green;
  }  
}

/* For internet browsers or larger = small browser ~= 1024px*/
@media (min-width: 900px) {
  h1{
    color:blue;
  }
}

/* For large browser = large browser ~= 1366*/
@media (min-width: 1250px) {
  h1{
    color:purple;
  }
}
