/* For everything */
h1{
  color:red;
}

.row:after{
  display: table;
  content: " ";
  clear: both;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
}
.col-md-12 {
  width: 100%;
}
.col-md-11 {
  width: 91.66666667%;
}
.col-md-10 {
  width: 83.33333333%;
}
.col-md-9 {
  width: 75%;
}
.col-md-8 {
  width: 66.66666667%;
}
.col-md-7 {
  width: 58.33333333%;
}
.col-md-6 {
  width: 50%;
}
.col-md-5 {
  width: 41.66666667%;
}
.col-md-4 {
  width: 33.33333333%;
}
.col-md-3 {
  width: 25%;
}
.col-md-2 {
  width: 16.66666667%;
}
.col-md-1 {
  width: 8.33333333%;
}

/* For all smart phones - iPhone 4 screen = 320px*/
/* Note: everything smartphone specific should have a counter in the web media query*/
@media (min-width: 310px) {
  h1{
    color:orange;
  }
}


/* For large smart phones or bigger - iPhone 6+ screen = 414px*/
@media (min-width: 404px) {
  h1{
    color:yellow;
  }
}

/* For tablets or  bigger- ipad screen = 768*/
@media (min-width: 640px) {
  h1{
    color:green;
  }
}

/* For internet browsers or larger = small browser ~= 1024px*/
@media (min-width: 900px) {
  h1{
    color:blue;
  }
}

/* For large browser = large browser ~= 1366*/
@media (min-width: 1250px) {
  h1{
    color:purple;
  }
  .row {
    margin-right: 15px;
    margin-left: 15px;
  }
}
